<div class="time">
            <h3>19:30</h3>
            <h4>Minutes</h4>   
        </div>
        <img src="/imagesrc/Pause Button.svg" alt="" id="pause">
        <div class="content">
            <div class="item">
                <img src="/imagesrc/Illumination.svg" alt="" id="streamcahaya">
                <p>Pencahayaan</p>
                <h2>300 <small>Lux</small></h2>
                
            </div>
            <div class="item">
                <img src="/imagesrc/Ruler.svg" alt="" id="streamjarak">
                <p>Jarak Pandang</p>
                <h2>30 <small>Cm</small></h2>
            </div>
            <div class="item">
                <img src="/imagesrc/Sitting on Chair.svg" alt="" id="streamflex">
                <p>Posisi Tubuh</p>
                <h2>Tegap</h2>
            </div>
            <div class="item">
                <img src="/imagesrc/Napping.svg" alt="" id="streamrtc">
                <p>Resting Instances</p>
                <h2>2 <small>Times</small></h2>
            </div>
        </div>
        <a href="/summary">Summary sementara</a>