<span id="device-id" data-id="{{device}}" class="hidden">{{device}}</span>

<div class="time">
    <h3 id="time">00:00</h3>
    <h4>Minutes</h4>   
</div>
<img src="/imagesrc/Play.svg" alt="" id="pause" class="pointer">
<div class="content">
    <div class="item">
        <img src="/imagesrc/Illumination.svg" alt="" id="streamcahaya">
        <p>Pencahayaan</p>
        <h2> <span id="cahaya"></span> <small>Lux</small></h2>
        
    </div>
    <div class="item">
        <img src="/imagesrc/Ruler.svg" alt="" id="streamjarak">
        <p>Jarak Pandang</p>
        <h2> <span></span> <small>Cm</small></h2>
    </div>
    <div class="item">
        <img src="/imagesrc/Sitting on Chair.svg" alt="" id="streamflex">
        <p>Posisi Tubuh</p>
        <h2></h2>
    </div>
    <div class="item">
        <img src="/imagesrc/Napping.svg" alt="" id="streamrtc">
        <p>Resting Instances</p>
        <h2> <span></span> <small>Times</small></h2>
    </div>
</div>
<a href="/summary">Summary sementara</a>