<h1>Register</h1>
<form action="">
    <input type="email" placeholder="E-mail" id="emailform">
    <input type="text" placeholder="Username" id="unameform">
    <input type="password" placeholder="Password" id="passform">
    <button type="button" id="buttonlog">Register</button>
</form>
<a href="/login">Back To Login</a>